<!DOCTYPE html>
<!--Referenciando o Thymeleaf-->
<html xmlns:th="http://thymeleaf.org">

<div th:replace="includes/head :: head"></div>
<div th:replace="includes/header :: header"></div>


<body>
    <section>
        <div class="container" style="width: 70%; padding-bottom: 30px; padding-top: 30px;">
            <div class="card text-right" style="width: rem; margin-bottom: 10px;margin-top: 10px;" th:each="tarefa :${tarefas}">
                <div class="card-body " >
                    <h5 class="card-title"><span th:text="${tarefa.titulo}"></span></h5>
                    <p class="card-text"><span th:text="${tarefa.descricao}"></span></p>
                    <!--CC = sigla do controler#nomeDoMetodo-->
                    <a th:href="${(#mvc.url('TC#getTarefaDetails').arg(0, tarefa.id)).build()}" class="text-right btn btn-primary ">Mais detalhes</a>
                </div>
            </div>
        </div>

    </section>

</body>


</html>