<!DOCTYPE html>
<!--Referenciando o Thymeleaf-->
<html xmlns:th="http://thymeleaf.org">

<div th:replace="includes/head :: head"></div>
<div th:replace="includes/header :: header"></div>


<body>
<section>
	
	<div class="container" style="width: 60%; padding-bottom: 30px;padding-top: 30px;">
		<th:block th:include="mensagemValidacao"></th:block>
		<form method="post">
			
			<div class="form-group">
				<input type="text" class="form-control" name="nome" placeholder="Nome *">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="login" placeholder="Login *">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" name="email" placeholder="E-mail *">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="senha" placeholder="Senha *">
			</div>
			<div>
				
				<label>
					<input type="checkbox" name="ativo"/>
					<span>Ativo</span>
				</label>
			
			</div>
			
			
			<small class="form-text text-muted">(*) Campos obrigatórios</small>
			
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Salvar</button>
			<a href="/tarefas" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
		
		</form>
	</div>
</section>

</body>


</html>